@using TimeManagement.Models
@model Activity

@{ 
    ViewBag.Title = "Create";
}

<h1>Create</h1>

<form method="post">

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label asp-for="Category"></label>
        <select asp-for="Category"
                asp-items="@Html.GetEnumSelectList<CategoryType>()"></select>
        <span asp-validation-for="Category"></span>
    </div>

    <input type="submit" name="save" value="Save" />
</form>